$bootstrap-sass-asset-helper: true;

@import "~bootstrap-sass/assets/stylesheets/_bootstrap.scss";

@import "material-dashboard";

html, body {
    // background: #f3f3fd;
    width: 100%;
    margin: 0 auto;
}

.chat-init {
    padding: 2rem;
}

.agent-chat {
    .media-object {
        width: 50px;
    }

    .media-list {
        flex-direction: column-reverse;

        .media:first-child {margin-top: 15px;}
    }
}

.chat-wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.chat-header {
    padding: 1rem 2rem;
    background-color: #f8f8f8;
}

.chat-content {
    flex: 1;
    overflow: auto;
    padding: 1rem 2rem;
    display: grid;
    align-items: flex-end;
}

.chat-summary {
    flex: 1;
    overflow: auto;
    display: grid;
    align-items: flex-start;
}

.chat-footer {
    padding: 0 2rem 1rem;
    background-color: #f8f8f8;
}

.media-list {
    display: flex;
    flex-direction: column;

    hr {
        margin-bottom: 0;
    }
}

.responses {
    margin: 2rem 0 0;
    padding: 0 0 1rem 2rem;

    li {
        font-weight: 500;
        cursor: pointer;

        &:hover {
            color: #626262;
        }
    }
}